#editor {
    overflow-y: scroll;
}

.editor-column {
    margin: auto;
    max-width: 50ch;
    padding: 2rem;
    border-radius: 8pt;
    box-shadow: 1pt 1pt 10pt -2pt gray;
}

.editor-column:not(:last-child) {
    margin-bottom: 1rem;
}

.editor-column-header {
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--bg-header);
    margin-bottom: 0.5rem;
}

.editor-input {
    border: 1pt solid var(--fg-header-alter);
    padding: 0.5rem 1rem;
    border-radius: 4pt;
    outline: none;
    box-shadow: 1pt 1pt 10pt -4pt var(--fg-header-alter);
    color: var(--bg-header);
}

textarea.editor-input {
    resize: vertical;
}

.editor-date-wrapper {
    display: flex;
    justify-content: space-between;
}

.editor-date-wrapper input {
    max-width: 22ch;
}

.editor-input:focus {
    border-color: var(--bg-header);
}

.editor-input-wrapper {
    display: flex;
    flex-direction: column;
}

.editor-input-wrapper label {
    font-size: 0.8rem;
    color: var(--fg-header-alter);
    margin-bottom: 0.3rem;
}

.editor-input-wrapper label:has(+ .editor-input:focus) {
    color: var(--bg-header);
}

.editor-column-fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.editor-column-fieldset-details summary {
    font-size: 0.9rem;
    color: var(--bg-header);
}
.editor-column-fieldset-details[open] summary {
    margin-bottom: 0.5rem;
}
